# Data Collection

#### We collect tweets regarding the **META** (ticker:`META`) company using StockTwits API.

### Seup the environement

In [1]:
#!pip install "pymongo[srv]"==3.11
#!pip install pymongo --upgrade
#!pip install openai

### Import libs

In [2]:
#### COMMON ####
import pandas as pd
import numpy as np

import json
import requests
from datetime import datetime

### MONGO DB ####
from pymongo.mongo_client import MongoClient

### Import utils function ###S
from utils import test_connection_db, collect_tweets, insert_tweets, get_tweets_from_db, URI, DB_NAME

### STEP 1: Load `META` tweets from StockTwits

In [3]:
df_meta_tweets = collect_tweets(ticker="META", nb_url=10)

STARTING TO COLLECT TWEET META...


COLLECTNG FROM:...
1: https://api.stocktwits.com/api/2/streams/symbol/META.json
COLLECTNG FROM:...
2: https://api.stocktwits.com/api/2/streams/symbol/META.json?max=566349782
COLLECTNG FROM:...
3: https://api.stocktwits.com/api/2/streams/symbol/META.json?max=566309311
COLLECTNG FROM:...
4: https://api.stocktwits.com/api/2/streams/symbol/META.json?max=566280447
COLLECTNG FROM:...
5: https://api.stocktwits.com/api/2/streams/symbol/META.json?max=566237167
COLLECTNG FROM:...
6: https://api.stocktwits.com/api/2/streams/symbol/META.json?max=566215426
COLLECTNG FROM:...
7: https://api.stocktwits.com/api/2/streams/symbol/META.json?max=566198357
COLLECTNG FROM:...
8: https://api.stocktwits.com/api/2/streams/symbol/META.json?max=566164216
COLLECTNG FROM:...
9: https://api.stocktwits.com/api/2/streams/symbol/META.json?max=566120622
COLLECTNG FROM:...
10: https://api.stocktwits.com/api/2/streams/symbol/META.json?max=566085361

105 TWEETS ARE SUCCESFULLY COLLECTED FROM THE TICKERMETA

In [4]:
df_meta_tweets

,date,content,true_sentiment
0,2024-03-19T08:06:15Z,$VERB \n$META \n \nMETA partnership! \n \n“...,bullish
7,2024-03-19T04:44:30Z,$RBLX $META \nzuck should buy this and add it ...,bullish
13,2024-03-19T04:25:32Z,$TSLA Lower Weekly low \nunder Week Low 3-11-2...,bearish
14,2024-03-19T04:17:06Z,$SPY let’s buy TikTok make it a America Compan...,bullish
17,2024-03-19T03:23:11Z,$META https://www.reuters.com/legal/transactio...,bearish
...,...,...,...
283,2024-03-15T19:52:59Z,$SPY You thought MM and Imbalances were going ...,bearish
287,2024-03-15T19:32:07Z,"$META ops, Marky Mark ought to consider anothe...",bearish
292,2024-03-15T19:17:57Z,"$META wow Piss porr price action today, Im on...",bearish
298,2024-03-15T18:51:51Z,"$META at. 90. All through towel, see now\n\...",bullish
299,2024-03-15T18:48:11Z,$META \n \nJust doubled this at 483.94... rip...,bullish

#### NOTE:

* The sentiment given by StockTwits will be the label (ground truth) of our data

### Data Cleansing

In [ ]:
### TO DO build a function to clean the tweet

### Store the tweets collection into the DB

##### Test the connection with the MongoDB cluster

In [6]:
test_connection_db(URI)

Pinged your deployment. You successfully connected to MongoDB!

In [7]:
insert_tweets(df_meta_tweets, uri=URI, db_name=DB_NAME, collection_name="META")

STARTING TO CLEAN DATA...
tweets_db.META COLLECTION IS SUCCESSFULLY CLEANED


STARTING TO INSERT DATA...
row: 0 inserted
row: 7 inserted
row: 13 inserted
row: 14 inserted
row: 17 inserted
row: 18 inserted
row: 19 inserted
row: 21 inserted
row: 26 inserted
row: 27 inserted
row: 29 inserted
row: 32 inserted
row: 33 inserted
row: 35 inserted
row: 36 inserted
row: 37 inserted
row: 39 inserted
row: 40 inserted
row: 51 inserted
row: 52 inserted
row: 53 inserted
row: 58 inserted
row: 59 inserted
row: 61 inserted
row: 70 inserted
row: 71 inserted
row: 73 inserted
row: 74 inserted
row: 76 inserted
row: 80 inserted
row: 81 inserted
row: 83 inserted
row: 84 inserted
row: 90 inserted
row: 94 inserted
row: 98 inserted
row: 99 inserted
row: 100 inserted
row: 105 inserted
row: 111 inserted
row: 112 inserted
row: 115 inserted
row: 117 inserted
row: 122 inserted
row: 123 inserted
row: 124 inserted
row: 131 inserted
row: 133 inserted
row: 135 inserted
row: 138 inserted
row: 140 inserted
row: 145 inserted
row: 146 inserted
row: 147 inserted
row: 148 inserted
row: 152 inserted
row: 167 inserted
row: 172 inserted
row: 181 inserted
row: 184 inserted
row: 186 inserted
row: 187 inserted
row: 190 inserted
row: 193 inserted
row: 199 inserted
row: 200 inserted
row: 203 inserted
row: 205 inserted
row: 210 inserted
row: 211 inserted
row: 212 inserted
row: 213 inserted
row: 216 inserted
row: 217 inserted
row: 218 inserted
row: 224 inserted
row: 225 inserted
row: 226 inserted
row: 229 inserted
row: 232 inserted
row: 236 inserted
row: 238 inserted
row: 239 inserted
row: 243 inserted
row: 246 inserted
row: 250 inserted
row: 252 inserted
row: 255 inserted
row: 260 inserted
row: 261 inserted
row: 262 inserted
row: 263 inserted
row: 267 inserted
row: 268 inserted
row: 269 inserted
row: 273 inserted
row: 277 inserted
row: 279 inserted
row: 281 inserted
row: 282 inserted
row: 283 inserted
row: 287 inserted
row: 292 inserted
row: 298 inserted
row: 299 inserted


 105 ROWS INSERTED SUCCESSFULLY INTO tweets_db.META

### Extract data from the MongoDB database

In [8]:
# Retrieve data from MongoDB
data_from_mongodb = get_tweets_from_db(uri=URI, db_name=DB_NAME, collection_name="META")

# Create DataFrame from retrieved data
df_meta_tweets_ = pd.DataFrame(data_from_mongodb)

df_meta_tweets_

,_id,date,content,true_sentiment
0,65f960bafd8bcf53d7bc88a8,2024-03-19T08:06:15Z,$VERB \n$META \n \nMETA partnership! \n \n“...,bullish
1,65f960bbfd8bcf53d7bc88aa,2024-03-19T04:44:30Z,$RBLX $META \nzuck should buy this and add it ...,bullish
2,65f960bdfd8bcf53d7bc88ac,2024-03-19T04:25:32Z,$TSLA Lower Weekly low \nunder Week Low 3-11-2...,bearish
3,65f960befd8bcf53d7bc88ae,2024-03-19T04:17:06Z,$SPY let’s buy TikTok make it a America Compan...,bullish
4,65f960c0fd8bcf53d7bc88b0,2024-03-19T03:23:11Z,$META https://www.reuters.com/legal/transactio...,bearish
...,...,...,...,...
100,65f96164fd8bcf53d7bc8970,2024-03-15T19:52:59Z,$SPY You thought MM and Imbalances were going ...,bearish
101,65f96166fd8bcf53d7bc8972,2024-03-15T19:32:07Z,"$META ops, Marky Mark ought to consider anothe...",bearish
102,65f96168fd8bcf53d7bc8974,2024-03-15T19:17:57Z,"$META wow Piss porr price action today, Im on...",bearish
103,65f9616afd8bcf53d7bc8976,2024-03-15T18:51:51Z,"$META at. 90. All through towel, see now\n\...",bullish
104,65f9616cfd8bcf53d7bc8978,2024-03-15T18:48:11Z,$META \n \nJust doubled this at 483.94... rip...,bullish